body
{
    background-color: brown;
 text-align: justify;
 color: yellow;
 font-family: fantasy;
 font-size: large;


}
#wrapper
{

    border: 1px solid;
    padding: 10px;
    width: 600;
    margin:auto;
}
header
{
 height: 200px;
 border: 1px solid aliceblue;
 background-color: brown;
}
nav
{
    border: 1px solid aliceblue;
    background-color: brown;
    height: 50px;
}
